<h1>Shipping Calculator</h1>
<form action = '/shipping_cost'>
  <div class = 'form-group'>
    <label for="Length"> Length: </label>
    <input id="Length" name="Length" class="form-control" type="text">
  </div>

  <div class= "form-group">
    <label for="Height"> Height: </label>
    <input id="Height" name="Height" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for= "Width"> Width: </label>
    <input id="Width" name="Width" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for= "Weight"> Weight: </label>
    <input id="Weight" name="Weight" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for= "distance"> Distance: </label>
    <input id="distance" name="distance" class="form-control" type="text">
  </div>

  <button type="submit" class="btn-default">Without giftwrap</button>
  <button type="submit" class="btn-warning">With giftwrap</button>
</form>
